.page-wrapper {
    font-family: 'Chivo', sans-serif;
    margin: auto;
    width: auto;
    max-width: 1080px;
}

/* variables */
body {
    --body-bg: white;
    --text-color: black;
}

body.dark-mode {
    --body-bg: #181717;
    --text-color: white;
}

body {
    background-color: var(--body-bg);
    color: var(--text-color);

    transition: 0.5s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 75%;
}

.tab {
    display: inline-block;
    margin-left: 2em;
}

.title-wrapper {
    max-height: 200px;
}

.title {
    text-align: center;
    font-size: 60px;
}

.subtitle {
    text-align: center;
    margin-top: -30px;
}

.pfp {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: -3em;

    border-radius: 50%;
    width: 200px;
}

hr.double {
    border-top: 3px solid;
    border-bottom: none;
    color: var(--text-color);

    margin-top: 30px;
    margin-bottom: 30px;
}

.caption {
    text-align: center;
}

.introduction {
    text-align: left;
    font-weight: bold;

    border-left: auto;
    border-right: auto;
}

.section-title {
    text-decoration: 
        underline 
        solid 
        var(--text-color)
        2px;
    text-underline-offset: 6px;

    font-weight: bolder;
    font-size: 45px;
}

.section-item {
    margin-top: -30px;
    margin-bottom: 40px;
}

.section-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-item-title {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
}

.section-item-date {
    display: inline-block;
    font-size: 15px;
}

.section-item-caption {
    font-size: 15px;
    margin-top: -15px;
    margin-bottom: 20px;
}

.section-item-list {
    font-weight: normal;
    font-size: 20px;
    margin-top: -5px;
}

/* slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: 10px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}